name: build
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      # See https://github.com/guardian/setup-java
      - name: Setup Java and sbt
        uses: guardian/setup-scala@v1

      - name: Build
        env:
          API_KEY: ${{ secrets.FASTLY_TOKEN_API_KEY }}
          SERVICE_ID: ${{ secrets.FASTLY_TOKEN_SERVICE_ID }}
        run: |
          ./scripts/build.sh
